#one{
    background-color: red;
    width:100px;
    height:100px;
    display: inline-block;
}
#two{
    background-color: black;
    width:100px;
    height:100px;
    display: inline-block;

}
#three{
    background-color: yellow;
    width:100px;
    height:100px;
    display: inline-block;

}