div{
    background-color: black;
    width: 100px;
    height: 100px;
    animation-name: color;
    /*animation-direction: 2s;*/
}

@keyframes color {
    0%{
        margin-left: 0;
    }
    50%{
        margin-top: 200px;
    }
    100%{
        margin-left: 400px;
    }
}