h1{
    background-color: orangered;
    color: white;
    padding: 2px;
    /*display: flex;*/
    margin: 2px;
    /*display: inline-block;*/
}
div{
    display: flex;
    flex-direction: row;
    background-color: yellowgreen;
    padding: 10px;
    width: 140px;
    flex-wrap: wrap;
}

